header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1e;
  padding: 20px 0;
  position: absolute;
  transition: .5s;

  &.scroll {
    background-color: #353c42;
    padding: 10px 0;
    position: sticky;
    top: 0;
    transition: .5s;
  }
}

nav {
  margin-right: 20px;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: 700;
    padding: 10px 20px;
    margin: 0 1%;
    transition: .5s;

    &:hover {
      background-color: #fff;
      color: #353c42;
      transition: .5s;
    }
  }
}